@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET DAO cho PTTKHTTT</h1>
        <p class="lead">Dùng Postman để kiểm tra API, mở song song cùng app window form</p>
        <p><a href="https://www.postman.com" class="btn btn-primary btn-md">Link Postman &raquo;</a></p>
    </section>
</main>